<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.heat'"
    [price]="'180'">
>
</app-product-card>

<div class="px-[2rem]">
    <div class="flex justify-center items-center text-xl font-bold text-[#6d714a] bg-[#ffffff] h-[3rem] w-full rounded-full">
        <h1>{{ 'wine_page.white' | translate }}</h1>
    </div>
    <div class="pt-[2rem]"></div>
</div>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.temjanika'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.aclassic'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.acuve'"
    [price]="'240'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.mara'"
    [price]="'1200'">
>
</app-product-card>

<div class="px-[2rem]">
    <div class="flex justify-center items-center text-xl font-bold text-[#6d714a] bg-[#ffffff] h-[3rem] w-full rounded-full">
        <h1>{{ 'wine_page.red' | translate }}</h1>
    </div>
    <div class="pt-[2rem]"></div>
</div>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.aclassicr'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.acuver'"
    [price]="'240'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.tga'"
    [price]="'200'">
>
</app-product-card>

<div class="px-[2rem]">
    <div class="flex justify-center items-center text-xl font-bold text-[#6d714a] bg-[#ffffff] h-[3rem] w-full rounded-full">
        <h1>{{ 'wine_page.rose' | translate }}</h1>
    </div>
    <div class="pt-[2rem]"></div>
</div>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.rosec'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.roseq'"
    [price]="'240'">
>
</app-product-card>

<div class="px-[2rem]">
    <div class="flex justify-center items-center text-xl font-bold text-[#6d714a] bg-[#ffffff] h-[3rem] w-full rounded-full">
        <h1>{{ 'wine_page.draft' | translate }}</h1>
    </div>
    <div class="pt-[2rem]"></div>
</div>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.wdraft'"
    [price]="'150'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'wine_page.rdraft'"
    [price]="'150'">
>
</app-product-card>