<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'vodka_page.smirnof'"
    [price]="'160'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'vodka_page.absolut'"
    [price]="'170'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'vodka_page.gray'"
    [price]="'300'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'vodka_page.belvedere'"
    [price]="'300'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'vodka_page.vigor'"
    [price]="'130'">
>
</app-product-card>