<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'gin_page.gordons'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'gin_page.gordonspink'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'gin_page.beefeater'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'gin_page.bombay'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'gin_page.tanqueray'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'gin_page.hendricks'"
    [price]="'270'">
>
</app-product-card>