<div class="flex justify-center text-center items-center px-[2rem] pb-[2rem]">
    <div class="bg-[#6d714a] rounded-xl px-[2rem] w-full flex flex-row justify-between items-center">
        <div class="bg-[#262525] rounded-full my-[0.3rem]">
            <div class="p-[0.1px] flex justify-center">
                <img class="rounded-xl w-[4rem]" 
                    [src] = "imgPath"
                    [alt] = "title">
            </div>
        </div>
        <div class="bg-white rounded-full p-2 text-center shadow-2xl">
            <div class="text-base font-bold text-[#262525] text-xs">
                {{title}}
            </div>
        </div>
    </div>
</div>