<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Еспресо'"
    [price]="'80'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Дупло Еспресо'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Мало Макијато'"
    [price]="'90'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Големо Макијато'"
    [price]="'100'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Капучино'"
    [price]="'100'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Лате'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Ирско'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Нес Кафе'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Нес Кафе Вкус'"
    [price]="'130'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Фредо Еспресо'"
    [price]="'130'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Фредо Капучино'"
    [price]="'140'">
>
</app-product-card>