<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.espresso'"
    [price]="'80'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.double_espresso'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.small_macchiato'"
    [price]="'90'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.big_macchiato'"
    [price]="'100'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.cappuccino'"
    [price]="'100'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.latte'"
    [price]="'140'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.irish'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.nes'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.nes_latte'"
    [price]="'130'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.fredo_espresso'"
    [price]="'140'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'coffe_page.fredo_cappuccino'"
    [price]="'160'">
>
</app-product-card>