<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Еспресо'"
    [price]="'100'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Мало Макијато'"
    [price]="'110'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Големо Макијато'"
    [price]="'110'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [title]="'Капучино'"
    [price]="'110'">
>
</app-product-card>
