<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/teapot.png'"
    [titleTranslationKey]="'hot_drinks_page.tea'"
    [price]="'100'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/teapot.png'"
    [titleTranslationKey]="'hot_drinks_page.cocoa'"
    [price]="'140'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/teapot.png'"
    [titleTranslationKey]="'hot_drinks_page.salep'"
    [price]="'140'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/teapot.png'"
    [titleTranslationKey]="'hot_drinks_page.chocolate'"
    [price]="'160'">
>
</app-product-card>