<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/teapot.png'"
    [title]="'Чај'"
    [price]="'80'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/teapot.png'"
    [title]="'Какао'"
    [price]="'100'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/teapot.png'"
    [title]="'Салеп'"
    [price]="'120'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/teapot.png'"
    [title]="'Топло Чоколадо'"
    [price]="'130'">
>
</app-product-card>