<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'degistive_page.pelin'"
    [price]="'140'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'degistive_page.pelina'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'degistive_page.jeger'"
    [price]="'180'">
>
</app-product-card>
