<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.long'"
    [price]="'270'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.wsour'"
    [price]="'270'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.asour'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.vsour'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.gsour'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.apsour'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.tom'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.mohito'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.aperol'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.cuba'"
    [price]="'230'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.old'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.margarita'"
    [price]="'220'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.kaipiroshka'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.kaipirina'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.brussian'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.wrussian'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.manhattan'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.campari'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.bramble'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.cosmopolitan'"
    [price]="'230'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.smargarita'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.gfather'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.vmartini'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.emartini'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.negroni'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/brandy.png'"
    [titleTranslationKey]="'cocktails_page.noalcohol'"
    [price]="'150'">
>
</app-product-card>