<div class="pt-2"></div>
<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.long'"
    [price] = "'300'"
    [descOne] = "'longisland.descOne'"
    [descTwo] = "'longisland.descTwo'"
    [descThree] = "'longisland.descThree'"
    [descFour] = "'longisland.descFour'"
    [descFive] = "'longisland.descFive'"
    [descSix] = "'longisland.descSix'"
    [descSeven] = "'longisland.descSeven'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.gintonic'"
    [price] = "'240'"
    [descOne] = "'gintonic.descOne'"
    [descTwo] = "'gintonic.descTwo'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.wsour'"
    [price] = "'310'"
    [descOne] = "'wsour.descOne'"
    [descTwo] = "'wsour.descTwo'"
    [descThree] = "'wsour.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.asour'"
    [price] = "'300'"
    [descOne] = "'asour.descOne'"
    [descTwo] = "'asour.descTwo'"
    [descThree] = "'asour.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.vsour'"
    [price] = "'300'"
    [descOne] = "'vsour.descOne'"
    [descTwo] = "'vsour.descTwo'"
    [descThree] = "'vsour.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.gsour'"
    [price] = "'300'"
    [descOne] = "'gsour.descOne'"
    [descTwo] = "'gsour.descTwo'"
    [descThree] = "'gsour.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.apsour'"
    [price] = "'300'"
    [descOne] = "'apsour.descOne'"
    [descTwo] = "'apsour.descTwo'"
    [descThree] = "'apsour.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.tom'"
    [price] = "'290'"
    [descOne] = "'tom.descOne'"
    [descTwo] = "'tom.descTwo'"
    [descThree] = "'tom.descThree'"
    [descFour] = "'tom.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.mohito'"
    [price] = "'300'"
    [descOne] = "'mohito.descOne'"
    [descTwo] = "'mohito.descTwo'"
    [descThree] = "'mohito.descThree'"
    [descFour] = "'mohito.descFour'"
    [descFive]="'mohito.descFive'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.smohito'"
    [price] = "'320'"
    [descOne] = "'smohito.descOne'"
    [descTwo] = "'smohito.descTwo'"
    [descThree] = "'smohito.descThree'"
    [descFour] = "'smohito.descFour'"
    [descFive]="'smohito.descFive'"
    [descSix]="'smohito.descSix'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.aperol'"
    [price] = "'270'"
    [descOne] = "'aperol.descOne'"
    [descTwo] = "'aperol.descTwo'"
    [descThree] = "'aperol.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.limoncelo'"
    [price] = "'270'"
    [descOne] = "'limoncelo.descOne'"
    [descTwo] = "'limoncelo.descTwo'"
    [descThree] = "'limoncelo.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.cuba'"
    [price] = "'270'"
    [descOne] = "'cuba.descOne'"
    [descTwo] = "'cuba.descTwo'"
    [descThree] = "'cuba.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.old'"
    [price] = "'300'"
    [descOne] = "'old.descOne'"
    [descTwo] = "'old.descTwo'"
    [descThree] = "'old.descThree'"
    [descFour] = "'old.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.margarita'"
    [price] = "'290'"
    [descOne] = "'margarita.descOne'"
    [descTwo] = "'margarita.descTwo'"
    [descThree] = "'margarita.descThree'"
    [descFour] = "'margarita.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.kaipiroshka'"
    [price] = "'300'"
    [descOne] = "'kaipiroshka.descOne'"
    [descTwo] = "'kaipiroshka.descTwo'"
    [descThree] = "'kaipiroshka.descThree'"
    [descFour] = "'kaipiroshka.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.kaipirina'"
    [price] = "'300'"
    [descOne] = "'kaipirina.descOne'"
    [descTwo] = "'kaipirina.descTwo'"
    [descThree] = "'kaipirina.descThree'"
    [descFour] = "'kaipirina.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.brussian'"
    [price] = "'300'"
    [descOne] = "'brussian.descOne'"
    [descTwo] = "'brussian.descTwo'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.wrussian'"
    [price] = "'300'"
    [descOne] = "'wrussian.descOne'"
    [descTwo] = "'wrussian.descTwo'"
    [descThree] = "'wrussian.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.manhattan'"
    [price] = "'300'"
    [descOne] = "'manhattan.descOne'"
    [descTwo] = "'manhattan.descTwo'"
    [descThree] = "'manhattan.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.campari'"
    [price] = "'270'"
    [descOne] = "'campari.descOne'"
    [descTwo] = "'campari.descTwo'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.bramble'"
    [price] = "'300'"
    [descOne] = "'bramble.descOne'"
    [descTwo] = "'bramble.descTwo'"
    [descThree] = "'bramble.descThree'"
    [descFour] = "'bramble.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.cosmopolitan'"
    [price] = "'290'"
    [descOne] = "'cosmopolitan.descOne'"
    [descTwo] = "'cosmopolitan.descTwo'"
    [descThree] = "'cosmopolitan.descThree'"
    [descFour] = "'cosmopolitan.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.smargarita'"
    [price] = "'300'"
    [descOne] = "'smargarita.descOne'"
    [descTwo] = "'smargarita.descTwo'"
    [descThree] = "'smargarita.descThree'"
    [descFour] = "'smargarita.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.gfather'"
    [price] = "'300'"
    [descOne] = "'gfather.descOne'"
    [descTwo] = "'gfather.descTwo'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.vmartini'"
    [price] = "'290'"
    [descOne] = "'vmartini.descOne'"
    [descTwo] = "'vmartini.descTwo'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.emartini'"
    [price] = "'290'"
    [descOne] = "'emartini.descOne'"
    [descTwo] = "'emartini.descTwo'"
    [descThree] = "'emartini.descThree'"
    [descFour] = "'emartini.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.negroni'"
    [price] = "'300'"
    [descOne] = "'negroni.descOne'"
    [descTwo] = "'negroni.descTwo'"
    [descThree] = "'negroni.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.paloma'"
    [price] = "'300'"
    [descOne] = "'paloma.descOne'"
    [descTwo] = "'paloma.descTwo'"
    [descThree] = "'paloma.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.daiqiri'"
    [price] = "'290'"
    [descOne] = "'daiqiri.descOne'"
    [descTwo] = "'daiqiri.descTwo'"
    [descThree] = "'daiqiri.descThree'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.psmartini'"
    [price] = "'310'"
    [descOne] = "'psmartini.descOne'"
    [descTwo] = "'psmartini.descTwo'"
    [descThree] = "'psmartini.descThree'"
    [descFour] = "'psmartini.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.psdaiqiri'"
    [price] = "'310'"
    [descOne] = "'psdaiqiri.descOne'"
    [descTwo] = "'psdaiqiri.descTwo'"
    [descThree] = "'psdaiqiri.descThree'"
    [descFour] = "'psdaiqiri.descFour'"
>
</app-cocktails-card>

<app-cocktails-card
    [titleTranslationKey] = "'cocktails_page.aperolaffair'"
    [price] = "'310'"
    [descOne] = "'aperolaffair.descOne'"
    [descTwo] = "'aperolaffair.descTwo'"
>
</app-cocktails-card>

<div class="pt-2"></div>
<app-product-card
    [imgPath]="'assets/photos/cocktails.png'"
    [titleTranslationKey]="'cocktails_page.noalcohol'"
    [price]="'220'">
>
</app-product-card>