<a href="coffe-page">
    <div class="pt-[2rem]"></div>
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'nonalcoholic_page.coffee'" 
        [imgPath]="'assets/photos/coffe_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="nocoffe-page">
    <app-nonalcoholic-card
        [titleTranslationKey] = "'nonalcoholic_page.decoffee'"
        [imgPath]="'assets/photos/coffe_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="matcha-page">
    <app-nonalcoholic-card
        [titleTranslationKey] = "'nonalcoholic_page.matcha'"
        [imgPath]="'assets/photos/coffe_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="water-page">
    <app-nonalcoholic-card
        [titleTranslationKey] = "'nonalcoholic_page.water'"
        [imgPath]="'assets/photos/water_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="scjuice-page">
    <app-nonalcoholic-card
        [titleTranslationKey] = "'nonalcoholic_page.freshjuice'"
        [imgPath]="'assets/photos/juice_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="soda-page">
    <app-nonalcoholic-card
        [titleTranslationKey] = "'nonalcoholic_page.juice'"
        [imgPath]="'assets/photos/soda_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="hot-drinks-page">
    <app-nonalcoholic-card
        [titleTranslationKey] = "'nonalcoholic_page.hotdrinks'"
        [imgPath]="'assets/photos/teapot_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="energy-page">
    <app-nonalcoholic-card
        [titleTranslationKey] = "'nonalcoholic_page.energydrinks'"
        [imgPath]="'assets/photos/can_white.png'" 
    >
    </app-nonalcoholic-card>
</a>