<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [titleTranslationKey]="'water_page.small_rosa'"
    [price]="'90'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [titleTranslationKey]="'water_page.big_rosa'"
    [price]="'160'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [titleTranslationKey]="'water_page.sparkling_small'"
    [price]="'90'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [titleTranslationKey]="'water_page.sparkling_big'"
    [price]="'160'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [titleTranslationKey]="'water_page.dobra_velnes'"
    [price]="'90'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [titleTranslationKey]="'water_page.dobra_aktiv'"
    [price]="'90'">
>
</app-product-card>