<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [title]="'Роса 0.33'"
    [price]="'70'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [title]="'Роса 0.75'"
    [price]="'130'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [title]="'Газирана 0.33'"
    [price]="'70'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [title]="'Газирана 0.75'"
    [price]="'130'">
>
</app-product-card>