<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [titleTranslationKey]="'water_page.small_rosa'"
    [price]="'80'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [titleTranslationKey]="'water_page.big_rosa'"
    [price]="'130'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [titleTranslationKey]="'water_page.sparkling_small'"
    [price]="'80'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/water.png'"
    [titleTranslationKey]="'water_page.sparkling_big'"
    [price]="'130'">
>
</app-product-card>