<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/juice.png'"
    [titleTranslationKey]="'scjuice_page.orange'"
    [price]="'160'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/juice.png'"
    [titleTranslationKey]="'scjuice_page.lemon'"
    [price]="'130'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/juice.png'"
    [titleTranslationKey]="'scjuice_page.citrus'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/juice.png'"
    [titleTranslationKey]="'scjuice_page.mix'"
    [price]="'180'">
>
</app-product-card>