<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'matcha_page.caramel'"
    [price]="'240'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'matcha_page.white_chocolate'"
    [price]="'240'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'matcha_page.vanilla'"
    [price]="'240'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'matcha_page.raspberry'"
    [price]="'240'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'matcha_page.strawberry'"
    [price]="'240'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/coffe.png'"
    [titleTranslationKey]="'matcha_page.passion_fruit'"
    [price]="'240'">
>
</app-product-card>





