<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jameson'"
    [price]="'220'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jamesonipa'"
    [price]="'300'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jamesonone'"
    [price]="'500'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.walker_red'"
    [price]="'220'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.walker_black'"
    [price]="'300'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.walker_gold'"
    [price]="'450'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jb'"
    [price]="'220'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.balentine'"
    [price]="'220'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.bushmils'"
    [price]="'240'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.almost_arrested'"
    [price]="'240'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.chivas'"
    [price]="'300'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.chivas_f'"
    [price]="'370'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jack'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jack_honey'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jack_apple'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jack_gentleman'"
    [price]="'300'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jack_mcl'"
    [price]="'350'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.tulamur'"
    [price]="'220'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jim'"
    [price]="'240'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.tenjaku'"
    [price]="'240'">
>
</app-product-card>
