<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Џејмисон'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Џони Волкер Ред'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Џони Волкер Блек'"
    [price]="'280'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Џони Волкер Голд'"
    [price]="'400'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'ЏБ'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Балентајн'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Бушмилс'"
    [price]="'220'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Фоур Роузес'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Чивас'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Чивас 15'"
    [price]="'350'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Џек Даниелс'"
    [price]="'230'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Џек Даниелс Хани'"
    [price]="'230'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Џек Даниелс Апле'"
    [price]="'230'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Туламур'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [title]="'Џим Бим'"
    [price]="'200'">
>
</app-product-card>