<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jameson'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.walker_red'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.walker_black'"
    [price]="'280'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.walker_gold'"
    [price]="'400'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jb'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.balentine'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.bushmils'"
    [price]="'220'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.almost_arrested'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.chivas'"
    [price]="'250'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.chivas_f'"
    [price]="'350'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jack'"
    [price]="'230'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jack_honey'"
    [price]="'230'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jack_apple'"
    [price]="'230'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.tulamur'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'whiskey_page.jim'"
    [price]="'200'">
>
</app-product-card>