<div class="px-[1rem] pb-[2rem]">
    <div class="flex flex-row justify-between items-center text-center text-xs
    bg-[#6d714a] px-5 py-2 rounded-xl">
        <div class="bg-white rounded-full p-1">
            <img class="w-[3rem]"
                [src] = "imgPath"
                [alt] = "titleTranslationKey">
        </div>
        <div class="text-white font-semibold text-base">{{titleTranslationKey | translate}}</div>
        <div class="text-white font-semibold text-base">{{price}} ден.</div>
    </div>
</div>