<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.cola'"
    [price]="'120'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.tonic'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.bitter'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.orange'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.grapefruit'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.sprite'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.fanta'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.next'"
    [price]="'140'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.san'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.icetea'"
    [price]="'140'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.cedevita'"
    [price]="'90'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [titleTranslationKey]="'soda_page.oranzina'"
    [price]="'120'">
>
</app-product-card>



