<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [title]="'Кока Кола / Зеро'"
    [price]="'100'">
>
</app-product-card>
<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [title]="'Швепс Тоник'"
    [price]="'100'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [title]="'Швепс Битер'"
    [price]="'100'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [title]="'Швепс Танџерина'"
    [price]="'100'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [title]="'Спрајт'"
    [price]="'100'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [title]="'Фанта'"
    [price]="'100'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [title]="'Некст Густ Сок'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [title]="'Сан-Пелегрино'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [title]="'Леден Чај'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/soda.png'"
    [title]="'Цедевита'"
    [price]="'80'">
>
</app-product-card>



