<a href="beer-page">
    <div class="pt-[2rem]"></div>
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.beer'"
        [imgPath]="'assets/photos/beer_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="brandy-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.brandy'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="cognac-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.cognac'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="rum-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.rum'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="liker-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.liker'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="degistive-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.digestive'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="whiskey-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.whiskey'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="vodka-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.vodka'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="gin-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.gin'"
        [imgPath]="'assets/photos/brandy_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="vermuth-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.vermuth'"
        [imgPath]="'assets/photos/brandy_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="aperitiv-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.aperitiv'"
        [imgPath]="'assets/photos/brandy_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="cocktails-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.cocktails'"
        [imgPath]="'assets/photos/brandy_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="wine-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.wine'"
        [imgPath]="'assets/photos/brandy_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="champagne-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.champagne'"
        [imgPath]="'assets/photos/champagne-white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="other-page">
    <app-nonalcoholic-card 
        [titleTranslationKey] = "'alcoholic_page.other'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

