<a href="beer-page">
    <div class="pt-[2rem]"></div>
    <app-nonalcoholic-card 
        [title] = "'Пиво'"
        [imgPath]="'assets/photos/beer_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="brandy-page">
    <app-nonalcoholic-card 
        [title] = "'Бренди'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="cognac-page">
    <app-nonalcoholic-card 
        [title] = "'Коњак'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="rum-page">
    <app-nonalcoholic-card 
        [title] = "'Рум'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="liker-page">
    <app-nonalcoholic-card 
        [title] = "'Ликер'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="degistive-page">
    <app-nonalcoholic-card 
        [title] = "'Дегистиви'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="whiskey-page">
    <app-nonalcoholic-card 
        [title] = "'Виски'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="vodka-page">
    <app-nonalcoholic-card 
        [title] = "'Водка'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="gin-page">
    <app-nonalcoholic-card 
        [title] = "'Џин'"
        [imgPath]="'assets/photos/brandy_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="vermuth-page">
    <app-nonalcoholic-card 
        [title] = "'Вермут'"
        [imgPath]="'assets/photos/brandy_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

<a href="other-page">
    <app-nonalcoholic-card 
        [title] = "'Останато'"
        [imgPath]="'assets/photos/whiskey_white.png'" 
    >
    </app-nonalcoholic-card>
</a>

