<div class="mt-5">
    <img src="assets/photos/sip_logo_3d.png" alt="">
</div>

<a href="nonalcoholic-page">
    <div class="flex flex-col justify-center text-center items-center p-[2rem] shadow-3xl">
        <div class="bg-[#6d714a] rounded-xl p-5 w-full h-[200px]">
            <div class="bg-[#262525] rounded-full mx-[6rem]">
                <div class="pb-2 flex justify-center">
                    <img class="rounded-xl w-[8rem]" 
                        src="assets/photos/nonalcohol.png" 
                        alt="Non-Alcoholic Beverages">
                </div>
            </div>
            <div class="bg-white mx-[3rem] my-[0.6rem] rounded-full text-center shadow-2xl">
                <div class="text-base font-bold text-[#262525]">
                    Безалкохолни Пијалоци
                </div>
            </div>
        </div>
    </div>
</a>

<a href="alcoholic-page">
    <div class="flex flex-col justify-center text-center items-center px-[2rem] pb-[2rem] shadow-3xl">
        <div class="bg-[#595e3d] rounded-xl p-5 w-full h-[200px]">
            <div class="bg-[#262525] rounded-full mx-[6rem]">
                <div class="pb-2 flex justify-center">
                    <img class="rounded-xl w-[8rem]" 
                        src="assets/photos/alcohol.png" 
                        alt="Alcoholic Beverages">
                </div>
            </div>
            <div class="bg-white mx-[4rem] my-[0.6rem] rounded-full text-center shadow-2xl">
                <div class="text-base font-bold text-[#262525]">
                    Алкохолни Пијалоци
                </div>
            </div>
        </div>
    </div>
</a>

<a href="location-page">
    <div class="flex flex-col justify-center text-center items-center px-[2rem] pb-[2rem] shadow-3xl ">
        <div class="bg-[#4a4d32] rounded-xl p-5 w-full h-[200px]">
            <div class="bg-[#262525] rounded-full mx-[6rem]">
                <div class="pb-2 flex justify-center">
                    <img class="rounded-xl w-[8rem]" 
                        src="assets/photos/location.png" 
                        alt="Non-Alcoholic Beverages">
                </div>
            </div>
            <div class="bg-white mx-[4rem] my-[0.6rem] rounded-full text-center shadow-2xl">
                <div class="text-base font-bold text-[#262525]">
                    Локација
                </div>
            </div>
        </div>
    </div>
</a>

<app-foot-bar></app-foot-bar>