<div class="mt-5">
    <img src="assets/photos/sip_logo_3d_christmas.png" alt="">
</div>

<a href="nonalcoholic-page">
    <div class="flex flex-col justify-center text-center items-center p-[2rem] shadow-3xl">
        <div class="bg-[#6d714a] rounded-xl p-3 w-full h-[200px]">
            <div class="bg-[#262525] rounded-full mx-[5rem]">
                <div class="pb-2 flex justify-center">
                    <img class="rounded-xl w-[7rem]" 
                        src="assets/photos/nonalcohol.png" 
                        alt="Non-Alcoholic Beverages">
                </div>
            </div>
            <div class="bg-white mx-[3rem] my-[0.6rem] rounded-full text-center shadow-2xl">
                <div class="text-base font-bold text-[#262525]">
                    {{ 'home_page.non_alcoholic' | translate }}
                </div>
            </div>
        </div>
    </div>
</a>

<a href="alcoholic-page">
    <div class="flex flex-col justify-center text-center items-center px-[2rem] pb-[2rem] shadow-3xl">
        <div class="bg-[#595e3d] rounded-xl p-3 w-full h-[200px]">
            <div class="bg-[#262525] rounded-full mx-[5rem]">
                <div class="pb-2 flex justify-center">
                    <img class="rounded-xl w-[7rem]" 
                        src="assets/photos/alcohol.png" 
                        alt="Alcoholic Beverages">
                </div>
            </div>
            <div class="bg-white mx-[4rem] my-[0.6rem] rounded-full text-center shadow-2xl">
                <div class="text-base font-bold text-[#262525]">
                    {{ 'home_page.alcoholic' | translate }}
                </div>
            </div>
        </div>
    </div>
</a>

<a href="nuts-page">
    <div class="flex flex-col justify-center text-center items-center px-[2rem] pb-[2rem] shadow-3xl">
        <div class="bg-[#595e3d] rounded-xl p-3 w-full h-[200px]">
            <div class="bg-[#262525] rounded-full mx-[5rem]">
                <div class="pb-2 flex justify-center">
                    <img class="rounded-xl w-[7rem]" 
                        src="assets/photos/nuts.png" 
                        alt="Nuts">
                </div>
            </div>
            <div class="bg-white mx-[4rem] my-[0.6rem] rounded-full text-center shadow-2xl">
                <div class="text-base font-bold text-[#262525]">
                    {{ 'home_page.nuts' | translate }}
                </div>
            </div>
        </div>
    </div>
</a>

<a href="dessert-page">
    <div class="flex flex-col justify-center text-center items-center px-[2rem] pb-[2rem] shadow-3xl">
        <div class="bg-[#595e3d] rounded-xl p-3 w-full h-[200px]">
            <div class="bg-[#262525] rounded-full mx-[5rem]">
                <div class="pb-2 flex justify-center">
                    <img class="rounded-xl w-[7rem]" 
                        src="assets/photos/desserts.png" 
                        alt="Desserts">
                </div>
            </div>
            <div class="bg-white mx-[4rem] my-[0.6rem] rounded-full text-center shadow-2xl">
                <div class="text-base font-bold text-[#262525]">
                    {{ 'home_page.desserts' | translate }}
                </div>
            </div>
        </div>
    </div>
</a>

<a href="serving-boards">
    <div class="flex flex-col justify-center text-center items-center px-[2rem] pb-[2rem] shadow-3xl">
        <div class="bg-[#595e3d] rounded-xl p-3 w-full h-[200px]">
            <div class="bg-[#262525] rounded-full mx-[5rem]">
                <div class="pb-2 flex justify-center">
                    <img class="rounded-xl w-[7rem]" 
                        src="assets/photos/serving_board.png" 
                        alt="Serving Boards">
                </div>
            </div>
            <div class="bg-white mx-[4rem] my-[0.6rem] rounded-full text-center shadow-2xl">
                <div class="text-base font-bold text-[#262525]">
                    {{ 'home_page.serving-board' | translate }}
                </div>
            </div>
        </div>
    </div>
</a>


<a href="location-page">
    <div class="flex flex-col justify-center text-center items-center px-[2rem] pb-[2rem] shadow-3xl ">
        <div class="bg-[#4a4d32] rounded-xl p-3 w-full h-[200px]">
            <div class="bg-[#262525] rounded-full mx-[5rem]">
                <div class="pb-2 flex justify-center">
                    <img class="rounded-xl w-[7rem]" 
                        src="assets/photos/location.png" 
                        alt="Non-Alcoholic Beverages">
                </div>
            </div>
            <div class="bg-white mx-[4rem] my-[0.6rem] rounded-full text-center shadow-2xl">
                <div class="text-base font-bold text-[#262525]">
                    {{ 'home_page.location' | translate }}
                </div>
            </div>
        </div>
    </div>
</a>

<app-foot-bar></app-foot-bar>