<div class="flex flex-row justify-center text-center items-center p-3 shadow-3xl">
    <div class="bg-[#6d714a] rounded-xl p-1 w-full shadow-3xl flex justify-between items-center flex-row  pb-3 px-1">
        <div class="bg-white rounded-full mt-2 ml-1">
            <img class="w-[3rem]" src="assets/photos/cocktails.png" alt="">
        </div>
        <div class="text-sm text-white font-bold pt-3 pl-3">
            {{ titleTranslationKey | translate }}
        </div>
        <div class="p-1 mt-3">
            <div class="text-sm text-white font-bold px-1">
                {{ price }} ден. 
            </div>
        </div>
        <div class="bg-white rounded-xl p-1 mt-3 ml-1">
            <div class="text-center text-[#6d714a] px-3">
                <div class="container mx-auto text-sm">
                    <button (click)="openModal()">{{ 'cocktails_card.ingredients' | translate }}</button>
                    <div [ngClass]="isModalOpen ? 'block' : 'hidden' " 
                        class="fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center p-3"
                        (click)="closeModalOnOutsideClick($event)">
                        <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full relative">
                            <p class="text-3xl font-bold md:text-5xl mb-4 text-[#6d714a]">{{ titleTranslationKey | translate }}</p>
                            <p class="text-2xl font-bold"> {{ price }} ден. </p>
                            <p class="text-xl font-bold py-3"> {{ 'cocktails_card.ingredients' | translate }}: </p>
                            <div class="mb-1">
                                <div class="">
                                    <p> {{ descOne | translate }} </p>
                                    <p> {{ descTwo | translate }} </p>
                                    <p> {{ descThree | translate }} </p>
                                    <p> {{ descFour | translate }} </p>
                                    <p> {{ descFive | translate }} </p>
                                    <p> {{ descSix | translate }} </p>
                                    <p> {{ descSeven | translate }} </p>
                                    <p> {{ descEight | translate }} </p>
                                    <p> {{ descNine | translate }} </p>
                                    <p> {{ descTen | translate }} </p>
                                </div>
                                <button class="justify-center p-2 bg-[#6d714a] rounded-xl text-white font-bold mt-2" (click)="closeModal()">{{'cocktails_card.close' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>