<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [title]="'Скопско / Смут'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [title]="'Скопско Точено 0.33'"
    [price]="'120'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [title]="'Скопско Точено 0.50'"
    [price]="'140'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [title]="'Амстел'"
    [price]="'140'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [title]="'Хајнекен'"
    [price]="'160'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [title]="'Корона'"
    [price]="'200'">
>
</app-product-card>