<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [titleTranslationKey]="'beer_page.skopsko'"
    [price]="'130'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [titleTranslationKey]="'beer_page.skopsko_draft_small'"
    [price]="'130'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [titleTranslationKey]="'beer_page.skopsko_draft_big'"
    [price]="'150'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [titleTranslationKey]="'beer_page.amstel'"
    [price]="'140'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [titleTranslationKey]="'beer_page.haineken'"
    [price]="'160'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [titleTranslationKey]="'beer_page.corona'"
    [price]="'200'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [titleTranslationKey]="'beer_page.moreti'"
    [price]="'150'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/beer.png'"
    [titleTranslationKey]="'beer_page.sol'"
    [price]="'200'">
>
</app-product-card>