<p class="pt-[2rem]"></p>

<div class="px-[2rem]">
    <div class="flex justify-center items-center text-xl font-bold text-[#6d714a] bg-[#ffffff] h-[3rem] w-full rounded-full">
        <h1>{{ 'dessert.ice' | translate }}</h1>
    </div>
    <div class="pt-[2rem]"></div>
</div>

<app-product-card
    [imgPath]="'assets/photos/ice-cream.png'"
    [titleTranslationKey]="'dessert.scoopl'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/ice-cream.png'"
    [titleTranslationKey]="'dessert.scoopj'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/ice-cream.png'"
    [titleTranslationKey]="'dessert.scoopm'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/ice-cream.png'"
    [titleTranslationKey]="'dessert.scoopv'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/ice-cream.png'"
    [titleTranslationKey]="'dessert.scoopb'"
    [price]="'180'">
>
</app-product-card>

<div class="px-[2rem]">
    <div class="flex justify-center items-center text-xl font-bold text-[#6d714a] bg-[#ffffff] h-[3rem] w-full rounded-full">
        <h1>{{ 'dessert.cheese' | translate }}</h1>
    </div>
    <div class="pt-[2rem]"></div>
</div>

<app-product-card
    [imgPath]="'assets/photos/cheesecake.png'"
    [titleTranslationKey]="'dessert.cheesem'"
    [price]="'220'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/cheesecake.png'"
    [titleTranslationKey]="'dessert.cheesec'"
    [price]="'220'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/cheesecake.png'"
    [titleTranslationKey]="'dessert.cheeseb'"
    [price]="'220'">
>
</app-product-card>

