<div class="pt-[2rem]"></div>
<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'liker_page.baileys'"
    [price]="'160'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'liker_page.campari'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'liker_page.amareto'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'liker_page.kahlua'"
    [price]="'160'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'liker_page.bajadera'"
    [price]="'180'">
>
</app-product-card>

<app-product-card
    [imgPath]="'assets/photos/whiskey.png'"
    [titleTranslationKey]="'liker_page.southern'"
    [price]="'180'">
>
</app-product-card>