<div class="m-4 flex justify-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2965.401118592396!2d21.5120546!3d41.9916663!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13543f14070a9a2b%3A0x846d39780827fdaa!2sSip%20Caffe%20Bar!5e0!3m2!1sen!2smk!4v1743200787371!5m2!1sen!2smk" width="350" height="250" style="border:0; filter: invert(90%) hue-rotate(180deg)" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="px-[1rem] pb-[2rem]">
    <div class="flex flex-col justify-between items-center text-center text-xs
    bg-[#6d714a] px-5 py-2 rounded-xl">
        <div class="text-xl bg-white rounded-full px-3 my-3">
            Работно време
        </div>
        <div class="text-white font-semibold text-base">Понеделник - Четврток <br> 08:00 - 24:00</div>
        <div class="text-white font-semibold text-base my-3">Петок - Сабота <br> 08:00 - 01:00 </div>
        <div class="text-white font-semibold text-base">Недела <br> 09:00 - 24:00 </div>
    </div>
</div>